.thumbInput {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

/* Webkit Thumbs */
.thumbInput::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    border: 2px solid #1a7577;
    cursor: grab;
    /* Centering adjustment depending on browser, 
     but with 24px height container, this sits nicely */
    margin-top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Firefox Thumbs */
.thumbInput::-moz-range-thumb {
    pointer-events: auto;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    border: 2px solid #1a7577;
    cursor: grab;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #1a7577;
}

.thumbInput:focus {
    outline: none;
}